<html>
<head></head>
<body>
<h1>AMQ GA_VERSION.RELEASE_NUMBER</h1>
<h2>Product Deliverables</h2>
<ul>
  <li><a href="amq-broker-GA_VERSION.RELEASE_NUMBER-bin.tar.gz">amq-broker-GA_VERSION.RELEASE_NUMBER-bin.tar.gz</a> - AMQ7 distribution (tar.gz).</li>
  <li><a href="amq-broker-GA_VERSION.RELEASE_NUMBER-bin.zip">amq-broker-GA_VERSION.RELEASE_NUMBER-bin.zip</a> - AMQ7 distribution (zip).</li>
  <li><a href="amq-broker-GA_VERSION.RELEASE_NUMBER-sources.zip">amq-broker-GA_VERSION.RELEASE_NUMBER-sources.zip</a> - Product sources.</li>
  <li><a href="amq-broker-GA_VERSION.RELEASE_NUMBER-maven-repository.zip">amq-broker-GA_VERSION.RELEASE_NUMBER-maven-repository.zip</a> - Wolf Maven repository.</li>
  <li><a href="amq-broker-GA_VERSION.RELEASE_NUMBER-license.zip">amq-broker-GA_VERSION.RELEASE_NUMBER-license.zip</a> - Product licenses.</li>
</ul>
<h2>Extras and Information - Non-Releasable</h2>
<ul>
  <li><a href="extras/shared-content-report.csv">shared-content-report.csv</a> - Shared Content report based on NCL/Brew build</li>
  <li><a href="extras/community-dependencies.csv">community-dependencies.csv</a> - Community dependencies that were found</li>
  <li><a href="extras/REPOSITORY_COORDINATES.properties">REPOSITORY_COORDINATES.properties</a> - NCL/Brew coordinates of project builds making up this release</li>
  <li><a href="extras/repository-artifact-list.txt">repository-artifact-list.txt</a> - List of all runtime artifacts in the Maven repository</li>
  <li><a href="extras/repository-duplicate-artifact-list.txt">repository-duplicate-artifact-list.txt</a> - List of artifacts present in the Maven repository more than once</li>
</ul>
</body>
</html>

